{% load static %}
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block extra_js %}{% endblock %}
  </head>

  <body>

{#    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">#}
{#      <div class="container">#}
{#        <div class="navbar-header">#}
{#          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">#}
{#            <span class="sr-only">Toggle navigation</span>#}
{#            <span class="icon-bar"></span>#}
{#            <span class="icon-bar"></span>#}
{#            <span class="icon-bar"></span>#}
{#          </button>#}
{#          <a class="navbar-brand" href="#">Project name</a>#}
{#        </div>#}
{#        <div class="collapse navbar-collapse">#}
{#          <ul class="nav navbar-nav">#}
{#            <li class="active"><a href="#">Home</a></li>#}
{#            <li><a href="#about">About</a></li>#}
{#            <li><a href="#contact">Contact</a></li>#}
{#          </ul>#}
{#        </div><!--/.nav-collapse -->#}
{#      </div>#}
{#    </div>#}

    <div class="container">
      {% block contents %}{% endblock %}
      <hr>
      <footer>
        <p>&copy; <a href="http://blog.f-y.name">Anton Novosyolov</a> 2014</p>
      </footer>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>

    <script type="text/javascript">
    reformal_wdg_domain    = "youtube-rss";
    reformal_wdg_mode    = 0;
    reformal_wdg_title   = "Youtube RSS proxy";
    reformal_wdg_ltitle  = "Leave feedback";
    reformal_wdg_lfont   = "";
    reformal_wdg_lsize   = "";
    reformal_wdg_color   = "#FFA000";
    reformal_wdg_bcolor  = "#516683";
    reformal_wdg_tcolor  = "#FFFFFF";
    reformal_wdg_align   = "left";
    reformal_wdg_waction = 0;
    reformal_wdg_vcolor  = "#9FCE54";
    reformal_wdg_cmline  = "#E0E0E0";
    reformal_wdg_glcolor  = "#105895";
    reformal_wdg_tbcolor  = "#FFFFFF";

    reformal_wdg_bimage = "8489db229aa0a66ab6b80ebbe0bb26cd.png";

    </script>

    <script type="text/javascript" language="JavaScript" src="http://idea.informer.com/tab6.js?domain=youtube-rss"></script><noscript><a href="http://youtube-rss.idea.informer.com">Youtube RSS proxy feedback </a> <a href="http://idea.informer.com"><img src="http://widget.idea.informer.com/tmpl/images/widget_logo.jpg" /></a></noscript>

</body></html>
